# Read the input data

In [24]:
import sys
import numpy as np
import pandas as pd

processData = pd.read_csv('Input_StartOfDay_Positions.txt')
transactionData = pd.read_json('1537277231233_Input_Transactions.txt')

#  Processing the data for the required output

In [ ]:
processData['OriginalQuantity'] = processData['Quantity']

In [26]:
for idex,row in transactionData.iterrows():
    symbol = row['Instrument']
    reqProcessData = processData[ processData['Instrument'] == symbol].index.values
    for x in reqProcessData:
        if(row['TransactionType'] == 'B' and processData['AccountType'][x] == 'E'):
            processData.at[x,'Quantity'] = processData['Quantity'][x] + row['TransactionQuantity']
       
        if(row['TransactionType'] == 'B' and processData['AccountType'][x] == 'I'):
            processData.at[x,'Quantity'] = processData['Quantity'][x] - row['TransactionQuantity']
       
        if(row['TransactionType'] == 'S' and processData['AccountType'][x] == 'E'):
            processData.at[x,'Quantity'] = processData['Quantity'][x] - row['TransactionQuantity']
            
        if(row['TransactionType'] == 'S' and processData['AccountType'][x] == 'I'):
            processData.at[x,'Quantity'] = processData['Quantity'][x] + row['TransactionQuantity']

# Displaying the final required output

In [28]:
processData['Delta'] = processData['Quantity'] - processData['OriginalQuantity']
finalResult = processData[['Instrument','Account','AccountType','Quantity','Delta']]
finalResult

  Instrument  Account AccountType   Quantity  Delta
0        IBM      101           E     101000   1000
1        IBM      201           I    -101000  -1000
2       MSFT      101           E    4999750   -250
3       MSFT      201           I   -4999750    250
4       APPL      101           E      -1100 -11100
5       APPL      201           I       1100  11100
6       AMZN      101           E     -24850 -14850
7       AMZN      201           I      24850  14850
8       NFLX      101           E  100000000      0
9       NFLX      201           I -100000000      0